.vs/SceneViewer/v14/.suo
.vs/SceneViewer/v14/.suo
SceneViewer/obj/Debug/
SceneViewer/obj/Debug/App.g.cs
SceneViewer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SceneViewer/obj/Debug/MainWindow.g.cs
SceneViewer/obj/Debug/MainWindow.baml
*.cache
SceneViewer/obj/Debug/WpfApplication1_Content.g.i.cs
.vs/SceneViewer/v14/.suo
.vs/SceneViewer/v14/.suo